*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

application/config/config.php

application/config/database.php

application/views/.DS_Store

application/controllers/.DS_Store
